body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
}

header {
    background-color: #0a192f;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

nav a:hover {
    color: #00bcd4;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: linear-gradient(to right, #00bcd4, #2196f3);
    color: white;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: rgb(19, 17, 139);
    color: #dad7e4;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px;
}

.content {
    padding: 40px;
    text-align: center;
}

.card {
    background: white;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

form input, form textarea {
    width: 60%;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #7c21f3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
footer{
    text-align: center;
    color: yellow;
}
section, h1{
    text-align: center;
}
/* Menu responsive */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin: 0 10px;
}

.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Responsive */
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        background: #0a192f;
        position: absolute;
        top: 60px;
        width: 100%;
        text-align: center;
    }

    .nav-links.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }
}
.success-message{
    color: yellow;
    font-weight: bold;
    margin-top: 15px;
    display: none;
}